#logo { 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    padding-bottom: 60px; 
    }
    
#form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

form input[type="text"] {
    display: absolute;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 8px;
    border-color: Gainsboro;  
    width: 500px;
    height: 25px;
    }

form input[type="image"] {
    position: absolute;
    top: 50%;
    right: -4%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    background: none;
    padding: 8px;
    border: none;
    border-radius: 20px;
    padding: 9px;
    }

a {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 14px;
    right: 40px;
    top: 20px;
    }    
